<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOS-Investment-App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50CA6ED2256D2D890035B9B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50E40C7A25A62205005CF9AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50E40CB125A885C3005CF9AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
